<div class="w-75 m-auto">
  <button class="ph-cursor clearCart btn text-white mb-2" (click)="clearCart()">Clear all</button>
  <div *ngIf="cartProducts?.length == 0; then thenBlock else elseBlock"></div>
  <ng-template #thenBlock> <p class="emptyCart text-center"> Cart is empty. </p> </ng-template>
  <ng-template #elseBlock>
    <table class="table table-dark">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Item</th>
        <th scope="col">Size</th>
        <th scope="col">Color</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Total Price</th>
        <th scope="col">Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr app-cart-item *ngFor="let item of cartProducts;let i = index"
          [cartItem]="item" [index]="i">
      </tr>
      </tbody>
    </table>

    <div class="mt-5 d-flex flex-row">
      <p class="totalCart"> Total: </p>
      <p class="fw-bold totalCart"> {{total}} $ </p>
    </div>

    <button class="btn-primary btn text-white mb-2 mr-2" routerLink="/process-order">Process order</button>

  </ng-template>
</div>
