<div *ngIf="cartProducts?.length == 0; then thenBlock else elseBlock"></div>
<ng-template #thenBlock> <p class="emptyCart text-center"> Cart is empty. </p> </ng-template>
<ng-template #elseBlock>
  <button class="clearCart btn text-white mb-2" (click)="clearCart()" > Clear</button>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Item</th>
      <th scope="col">Size</th>
      <th scope="col">Color</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total Price</th>
      <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>

        <tr app-cart-item *ngFor="let item of cartProducts;let i = index"
            [cartItem]="item" [index]="i">
        </tr>

    <h5 class="mt-5  fw-bold totalCart">Total: {{total}} $</h5>
    </tbody>
  </table>

  <button class="btn-primary btn text-white mb-2" routerLink="/process_order" >Process order</button>

</ng-template>
