
<div class="container mb-3">
  <div class="card">
    <div class="imgBx">
      <img src="{{product.image}}" alt="nike-air-shoe">
    </div>
    <div class="contentBx">
      <h2>{{product.name}}</h2>
      <p class="text-secondary">{{product.description}}</p>
      <h5 class="text-white">{{categoryString}}</h5>
      <div class="size">
        <h3>Size :</h3>
        <ul class="list-inline">
          <li class="list-inline-item"
              *ngFor="let size of availableSizes; let i = index"
              [class.disabled]="isSizeDisabled(size)">
            <a (click)="!isSizeDisabled(size) && onSelectedAttribute('size', size)">
              <span [ngStyle]="{
                      'background-color': selectedAttributes.size?.id === size.id ? 'green' : 'white',
                      'opacity': isSizeDisabled(size) ? 0.35 : 1,
                      'cursor': isSizeDisabled(size) ? 'not-allowed' : 'pointer'
                    }">{{size.size}}</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="color">
        <h3>Color :</h3>
        <ul class="list-inline">
          <li class="list-inline-item"
              *ngFor="let color of availableColors; let i = index"
              [class.disabled]="isColorDisabled(color)">
            <a (click)="!isColorDisabled(color) && onSelectedAttribute('color', color)">
              <span [ngStyle]="{
                      'background': color['code'],
                      'border': selectedAttributes.color?.id === color.id ? '3px solid white' : 'none',
                      'opacity': isColorDisabled(color) ? 0.35 : 1,
                      'cursor': isColorDisabled(color) ? 'not-allowed' : 'pointer'
                    }"></span>
            </a>
          </li>
        </ul>
      </div>
      <div class="price">
        <h3>${{product.price}}</h3>
      </div>
      <div class="buyNow">
        <button class="btn-custom"
                [disabled]="!canAddToCart()"
                [style.cursor]="canAddToCart() ? 'pointer' : 'not-allowed'"
                [style.opacity]="canAddToCart() ? 1 : 0.5"
                id="{{product.id}}"
                (click)="addProductToCart(product)">Add to cart</button>
      </div>
    </div>
  </div>
</div>
