<div class="cu-pcard">
  <div class="stage">
    <span class="ribbon" *ngIf="hasAnyStock(); else outRibbon">// in stock</span>
    <ng-template #outRibbon><span class="ribbon" style="color:#5a5d61;background:#131517;border-color:#181a1c">sold out</span></ng-template>
    <img [src]="product.image" [alt]="product.name">
    <div class="hover-hint"><span class="kbd">↵</span> pick &amp; add</div>
  </div>

  <div class="info">
    <div class="sku">#{{ product.id }}</div>
    <div class="row1">
      <div class="nm">
        {{ product.name }}
        <small *ngIf="categoryString">{{ categoryString }}</small>
      </div>
      <div class="price">${{ product.price }}</div>
    </div>
    <div class="row2">
      <span class="cu-stockdot" *ngIf="hasAnyStock()">in stock</span>
      <span class="cu-stockdot out" *ngIf="!hasAnyStock()">sold out</span>
    </div>
  </div>

  <div class="cu-pcard-pickers">
    <div class="group">
      <span class="lbl">size</span>
      <div class="opts">
        <button type="button"
                class="size-pill"
                *ngFor="let size of availableSizes"
                [class.on]="selectedAttributes.size?.id === size.id"
                [class.disabled]="isSizeDisabled(size)"
                (click)="!isSizeDisabled(size) && onSelectedAttribute('size', size)">
          {{ size.size }}
        </button>
      </div>
    </div>
    <div class="group">
      <span class="lbl">colour</span>
      <div class="opts">
        <span class="color-dot"
              *ngFor="let color of availableColors"
              [class.on]="selectedAttributes.color?.id === color.id"
              [class.disabled]="isColorDisabled(color)"
              [style.background]="color['code'] || '#444'"
              [title]="color.name"
              (click)="!isColorDisabled(color) && onSelectedAttribute('color', color)">
        </span>
      </div>
    </div>
  </div>

  <div class="cu-pcard-cta">
    <button class="add"
            type="button"
            [disabled]="!canAddToCart()"
            (click)="addProductToCart(product)">
      {{ canAddToCart() ? 'Add to bag' : (hasAnyStock() ? 'Pick size & colour' : 'Sold out') }}
    </button>
  </div>
</div>
