<div class="tm-table-wrap">
  <table mat-table [dataSource]="dataSource" style="width:100%;background:transparent">
    @for (column of tableService.columns; track column) {
      <ng-container [matColumnDef]="column.index">
        <th mat-header-cell *matHeaderCellDef>{{ column.title || '·' }}</th>
        <td mat-cell *matCellDef="let element">
          @switch (column.type) {
            @case (columnTypeEnum.boolean) {
              <span class="tm-status" [class.off]="!element[column.index]">
                {{ element[column.index] ? 'Yes' : 'No' }}
              </span>
            }
            @case (columnTypeEnum.action) {
              <button class="tm-icon-btn" type="button" (click)="navigateOrderDetails(element)" matTooltip="Open">
                <mat-icon>arrow_forward</mat-icon>
              </button>
            }
            @case (columnTypeEnum.date) {
              <span class="tm-mono-cell">{{ element[column.index] | date: 'd MMM · HH:mm' }}</span>
            }
            @case (columnTypeEnum.concatText) {
              <span style="color:#fafafa;font-weight:500;letter-spacing:-.003em">
                <ng-container *ngFor="let val of column.values">{{ element[val] }} </ng-container>
              </span>
            }
            @default {
              @if (column.index === 'id') {
                <span class="tm-mono-cell" style="color:#fafafa">#ORD-{{ element[column.index] }}</span>
              } @else if (column.index === 'status') {
                <span class="tm-status"
                      [class.draft]="element[column.index] === 'received'"
                      [class.off]="element[column.index] === 'cancelled' || element[column.index] === 'refunded'"
                      [class.warn]="element[column.index] === 'shipped'">
                  {{ element[column.index] }}
                </span>
              } @else if (column.index === 'subtotal') {
                <span class="tm-num-cell">${{ element[column.index] }}</span>
              } @else if (column.index === 'email') {
                <span class="tm-mono-cell">{{ element[column.index] }}</span>
              } @else {
                <span>{{ element[column.index] }}</span>
              }
            }
          }
        </td>
      </ng-container>
    }

    <tr mat-header-row *matHeaderRowDef="tableService.displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: tableService.displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="tableService.pageSizeOptions" showFirstLastButtons></mat-paginator>
</div>
