<div class="container-fluid py-4  text-white min-vh-100" >

  <div class="container">
    <!-- Header -->
    <app-back-button [routerLink]="'/admin-panel/orders'"></app-back-button>

    <div class="d-flex flex-row justify-content-between align-items-center mb-4 border-bottom pb-2">
      <h2 class="h5 mb-0">Order #{{ order.id }}</h2>
    </div>

    <div class="row">
      <!-- Main Content -->
      <div class="col-lg-8">
        <!-- Order Items Card -->
        <div class="card mb-4 background-grey-black text-white border-0 shadow-sm">
          <div class="card-body">
            <div class="d-flex justify-content-between mb-3">
              <div class="d-flex gap-3">
                <span>{{ order.created_at | date: 'd MMM yyyy | HH:mm'}}</span>
                <span class="badge rounded-pill">{{ order.status }}</span>
              </div>
            </div>
            <table class="mat-table w-100 text-white mb-0">
              <tbody>
              <tr *ngFor="let item of order.items" class="align-middle">
                <td>
                  <div class="d-flex align-items-center gap-3">
                    <img [src]="item.product.image" alt="" class="img-fluid rounded" style="width:50px;">
                    <div>
                      <h5 class="mb-0">{{ item.product.name }} </h5>
                      <h6>Color : {{ item.color.name }}</h6>
                    </div>
                  </div>
                </td>
                <td> x {{ item.quantity }}</td>
                <td class="text-end">${{ item.total }}</td>
              </tr>
              </tbody>
              <tfoot class="border-top">
              <tr >
                <td colspan="2">Subtotal</td>
                <td class="text-end">${{ order.subtotal }}</td>
              </tr>
              </tfoot>
            </table>
          </div>
        </div>

        <!-- Payment & Billing -->
        <div class="card mb-4 background-grey-black text-white border-0 shadow-sm">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <h2>Payment Method</h2>
                <p>
                  <span class="badge rounded-pill">{{ PaymentMethod[order.payment_method]}}</span>
                </p>
                <p>Total: <span class="fw-bold">${{ order.subtotal }}</span> </p>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-4 background-grey-black text-white border-0 shadow-sm">
          <div class="card-body">
            <div class="col-lg-6">
              <h2>Change Status</h2>
              <form (ngSubmit)="updateStatus()"  #statusForm="ngForm" class="d-flex gap-2 align-self-start">
                <mat-select
                  class="form-select bg-dark text-white border-secondary"
                  [(ngModel)]="order.status"
                  name="status"
                  required>
                  <mat-option *ngFor="let s of statuses" [value]="s">{{ s }}</mat-option>
                </mat-select>
                <button
                  type="submit"
                  class="btn-custom btn-sm"
                  [disabled]="statusForm.invalid || loading">
                  Save
                </button>
              </form>
            </div>
          </div>
        </div>

      </div>

      <!-- Sidebar -->
      <div class="col-lg-4">
        <div class="card mb-4 background-grey-black text-white border-0 shadow-sm">
          <div class="card-body">
            <h2>Customer Notes</h2>
            <p>{{order.additional}}</p>
          </div>
        </div>
        <div class="card mb-4 background-grey-black text-white border-0 shadow-sm">
          <div class="card-body">
            <h2>Shipping Address</h2>
            <address>
              <strong>{{order.first_name}} {{order.last_name}}</strong><br>
              {{ order.address }}<br>
              {{ order.city }}, {{ order.country }}<br>
              P: {{ order.phone }}
            </address>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
