<div class="form-container container mb-5">
  <div class="">
    <form [formGroup]="form" (ngSubmit)="submit()" class="d-flex flex-column align-items-center">
      <div class="title mb-5">
        <h2>Order Form</h2>
      </div>
      <div id="orderForm" >
        <div class="row">
          <div class="col-6">
            <mat-form-field color="accent" class="full-width" appearance="fill">
              <mat-label>First Name</mat-label>
              <input matInput formControlName="firstName">
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field color="accent">
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="lastName">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-form-field color="accent">
              <mat-label>Enter your email</mat-label>
              <input matInput placeholder="pat@example.com" formControlName="email">
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field color="accent">
              <mat-label>Phone</mat-label>
              <input matInput formControlName="phone">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <mat-form-field color="accent">
              <mat-label>Country</mat-label>
              <mat-select #country name="country" id="country" (selectionChange)="onCountryChange($event)">
                <mat-option *ngFor="let country of countries" [value]="country | json">{{ country.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field color="accent">
              <mat-label>State</mat-label>
              <mat-select  #state name="state" id="state" (selectionChange)="onStateChange($event)">
                <mat-option *ngFor="let state of states" [value]="state | json" >{{state.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field color="accent">
              <mat-label>City</mat-label>
              <mat-select #city name="city" id="city" (selectionChange)="onCityChange($event)">
                <mat-option *ngFor="let city of cities" [value]="city | json" >{{ city.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <mat-form-field color="accent">
              <mat-label>House number and street name</mat-label>
              <input matInput formControlName="address">
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field color="accent">
              <mat-label>Apartment, suite, unit etc. (optional)</mat-label>
              <input matInput formControlName="additional">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <mat-form-field color="accent">
              <mat-label>Additional informations</mat-label>
              <input matInput formControlName="additional">
            </mat-form-field>
          </div>
        </div>

      </div>

      <div id="orderDetails">
        <div class="row yander-content" style="padding-top: 0;">
          <table>
            <tr>
                <th colspan="2">Your order</th>
            </tr>
            <tr *ngFor="let item of cartProducts;let i = index">
              <td>{{item.name}} | {{item.color}} | x {{item.quantity}} </td>
              <td>${{item.total}}</td>
            </tr>
            <tr>
              <th>Subtotal</th>
              <td>${{subTotal}}</td>
            </tr>
            <tr>
              <th>Shipping</th>
              <td>Free shipping</td>
            </tr>
          </table>
          <div class="paymentMethod d-flex flex-row justify-content-around">
            <div>
              <input type="radio" name="dbt" value="1" checked> Cash on Delivery
            </div>
          </div>
          <button class="btn btn-primary" type="submit">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
