:host {
  display: flex;
  flex-direction: column;
  background: #0e0f10;
  border-right: 1px solid #181a1c;
  padding: 14px 10px;
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
  min-width: 240px;
  width: 240px;

  &::-webkit-scrollbar { width: 4px }
  &::-webkit-scrollbar-thumb { background: #181a1c }
}

app-nav-content { display: block; flex: 1 1 auto; min-height: 0 }
