<nav class="cu-nav">
  <a class="brand" [routerLink]="['/home']">
    <div class="sq"><span class="nike-swoosh" aria-label="Nike swoosh"></span></div>
    <div class="nm">NikeStore<small>est. 1972</small></div>
  </a>

  <div class="links">
    <a [routerLink]="['/home']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
    <a [routerLink]="['/shop']" routerLinkActive="active">Shop</a>
  </div>

  <div class="right">
    <a class="iconbtn" *ngIf="!authService.isLoggedIn()" [routerLink]="['/login']" title="Sign in">
      <mat-icon>account_circle</mat-icon>
    </a>
    <a class="iconbtn" *ngIf="authService.isLoggedIn()" [routerLink]="['/admin-panel/dashboard']" title="Account">
      <mat-icon>account_circle</mat-icon>
    </a>
    <button class="iconbtn" *ngIf="authService.isLoggedIn()" type="button" (click)="logout()" title="Logout">
      <mat-icon>logout</mat-icon>
    </button>

    <a class="iconbtn bag" [routerLink]="['/cart']" title="Bag">
      <mat-icon>shopping_bag</mat-icon>
      <span class="ct" *ngIf="countCart > 0">{{ countCart }}</span>
    </a>
  </div>
</nav>
