// =======================================
//   List of variables for Preset color
// =======================================

$preset-colors: (
  preset-1: (
    body: #e3f2fd,
    primary: #252525,
    primary-dark: #000000,
    secondary: #20005e,
    secondary-dark: #14012b
  )
);
$dark-preset-colors: (
  preset-1: (
    body: #111
  )
);
