// =======================================
//   List of variables for Preset color
// =======================================

$preset-colors: (
  preset-1: (
    body: #000000,
    primary: $primary,
    primary-dark: $midBlack,
    secondary: #6c757d,
    secondary-dark: #14012b
  )
);
$dark-preset-colors: (
  preset-1: (
    body: #111
  )
);
