
  <div class="mb-5">
    <section class="card">
      <div class="product-image" style="background-image: url('../../../assets/products/{{product.imageUrl}}')">
      </div>
      <div class="product-info">
        <h2 class="mb-0">{{product.name}}</h2>
        <h3 class="fw-bold">{{categoryString}}</h3>

        <p class="font-italic mb-3">{{product.description}}</p>
        <div class="price">${{product.price}}</div>
      </div>
      <div class="row d-flex flex-row" >
        <select style="border-radius: 0.2rem;cursor:pointer;width: 30%;
    margin: 0 auto; font-size:15px" class=" form-select form-select-lg mb-3 mt-3 text-center" aria-label=".form-select-lg example"  (change)="onChangedAttribute( $event)"
        >
          <option selected>Size</option>
          <option  *ngFor="let size of product.sizes"  [value]="size" >{{size}}</option>
        </select>
      </div>
       <button class="buy-btn" id="{{product.id}}" (click)="addProductToCart(product)" >
         Buy Now
       </button>
    </section>
  </div>


<!--               (click)="onCartUpdated($event)"-->
