html, body {
  min-height: 100vh;
  color:white !important;
 // font-family: 'Montserrat', sans-serif !important;
}
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black !important;
}

html::after{
  content: '';
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  background-color: #19191a;
  height: 100%;
}

.black-background{
  background-color: black !important;
}

.mid-black-background {
  background-color: #1f1f1f !important;
}

.logo {
  font-family: 'Pacifico', cursive !important;
  font-size: 80px !important;
  color: white;
}

.small-logo {
  font-family: 'Pacifico', cursive !important;
  font-size: 80px;
  color: white;
  margin: 0 !important;
  padding-left: 25px;
}

@import 'bootstrap/scss/bootstrap';
// main framework
// main framework
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/variables-dark';

@import 'assets/scss/settings/color-variables';
@import 'assets/scss/settings/theme-variables';
@import 'assets/scss/settings/bootstrap-variables.scss';

@import 'assets/scss/bootstrap/bootstrap.scss';

@import '../node_modules/bootstrap/scss/utilities';
@import '../node_modules/bootstrap/scss/utilities/api';

// main framework
@import 'assets/scss/themes/generic.scss';
@import 'assets/scss/themes/general.scss';

// Layouts
@import 'assets/scss/themes/layouts/layouts';

// Componants
@import 'assets/scss/themes/components/components';

// pages
@import 'assets/scss/themes/pages/page.scss';

@import 'assets/scss/themes/customizer';
@import 'assets/scss/style-preset.scss';

// fonts
@import url('assets/fonts/berry/berry-icons.css'); /** custom font icons - berry **/
@import 'assets/fonts/tabler-icons.min.css';
@import 'assets/fonts/phosphor/duotone/style.css';
