.cart-item-wrapper {
    display: flex;
    justify-content: space-between;
}

input {
    text-align: center;
    width: 60px;
}

.cart-item-wrapper > div {
    flex-grow: 1;
    color: #436f85;
    text-align: center;
}

 td {
   color:white;
  font-size: 17px ;
}
.deleteProduct{
  height: 25px;
  padding-top: 0px;
}

.cartQty{
  height: 24px;
  width: 61px;
}
