.image-preview {
  max-width: 200px;
  max-height: 200px;
  margin-top: 10px;
}

.file-input{
  display: none;
}

.product-form {
  max-width: 900px;
  width: 100%;
  margin: auto;

  .form-row {
    display: flex;
    gap: 10px;

    &.flex-wrap {
      flex-wrap: wrap;
    }

    .flex-1 {
      flex: 1 1 0;
    }
  }

  .file-upload-container {
    .file-upload {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid #ccc;
      padding: 6px 10px;
      border-radius: 4px;
      height: 56px; // match mat-input height
      cursor: pointer;
    }
  }

  .form-actions {
    button {
      min-width: 120px;
    }
  }
}


.product-card {
  border-radius: 12px;
  padding: 16px;
}

.product-form .form-row {
  display: flex;
  gap: 12px;
}

.flex-1 {
  flex: 1;
}

.file-upload {
  border: 1px dashed #ccc;
  padding: 8px;
  border-radius: 6px;
}

.mat-card-title {
  font-size: 1.5rem;
  font-weight: 600;
}
