<div class="tm-stats">
  <div class="tm-stat" *ngFor="let card of stats">
    <div class="k">
      <span>{{ card.label }}</span>
      <span class="pill" style="background:transparent;border-color:transparent;color:#6a6d72;font-family:'Geist Mono',monospace">{{ rangePill }}</span>
    </div>
    <div class="v">
      <mat-icon>{{ card.icon }}</mat-icon><span *ngIf="loading" class="tm-skeleton" aria-hidden="true"></span><span *ngIf="!loading">{{ card.value }}</span>
    </div>
    <div class="sub">
      <span>{{ rangeSub }}</span>
    </div>
  </div>
</div>
