<app-navigation
  class="coded-navbar pc-sidebar black-background"
  [ngClass]="{
    'navbar-collapsed': navCollapsed,
    'mob-open': navCollapsedMob
  }"
  (NavCollapsedMob)="navMobClick()"
></app-navigation>
<app-nav-bar class="black-background" (NavCollapse)="this.navCollapsed = !this.navCollapsed" (NavCollapsedMob)="navMobClick()"></app-nav-bar>
<main class="pc-container mid-black-background">
  <div class="coded-wrapper">
    <div class="coded-content">
      <div class="coded-inner-content">
        <div class="main-body">
          <div class="page-wrapper">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>
